* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: #6464649e;
  display: flex;
  color: white;
}
header img {
  padding-left: 30px;
  padding-top: 20px;
}
nav {
  width: 75%;
  padding-top: 20px;
}
ul {
  text-decoration: none;
  list-style: none;
  display: flex;

  justify-content: center;
}
nav ul li {
  padding: 20px 30px;
  font-size: 25px;
  padding: 20px 30px;
  font-weight: bold;
  transition: 2s;
}
nav ul a {
  text-decoration: none;
  color: white;
}
nav ul li:hover {
  border-bottom: solid 2px red;
}
main {
  background-image: url(./run.webp);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}
main h1 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 55px;
  box-shadow: inset 0 0 0 0 black;
  color: white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
main h1:hover {
  box-shadow: inset 700px 0 0 0 #9f9f9f;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 80px 40px 60px 40px;
  align-items: center;
  background-color: #f2f1f1;
}
.side-bar {
  padding-right: 40px;
}
.side-bar h2 {
  font-size: 40px;
}
.image-right {
  width: "700px";
  height: "600px";
}
.first {
  display: flex;
  justify-content: space-between;
  padding: 130px 130px 50px 130px;
}
.second {
  display: flex;
  justify-content: space-between;
  padding: 0px 130px 130px 130px;
}
.first span {
  display: inline;
}
.first-sec {
  display: flex;
}
.first-sec img {
  padding-right: 20px;
  width: 70px;
  height: 50px;
}
.con {
  display: inline-block;
}
.con p {
  width: 250px;
}
.third-sec {
  background-image: url(./slider.jpg);
  width: 100%;
  position: relative;

  display: flex;
  padding: 89px 0px;
}
/* .third-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
} */
.right-bar {
  color: white;
  padding: 30px 220px;
  text-align-last: auto;
}
.video {
  padding-left: 100px;
}
.right-bar button {
  color: white;
  padding: 20px 70px;
  background-color: #fa471c;
  border: none;
  margin-top: 27px;
}
.right-bar button:hover {
  background-color: white;
  color: #fa471c;
  font-size: 28px;
  font-weight: bold;
}
.right-bar button:hover::after {
  content: " >";
}
.number {
  display: flex;
  justify-content: space-around;
  padding: 70px 150px;
}
.number h3 {
  font-size: 80px;
  font-size: 80px;
  color: #fa471c;
}
.number p {
  font-size: 30px;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.sr-heading {
  font-size: 50px;
  color: black;
  text-align: center;
  padding: 10px 0px 30px 0px;
}
#sr {
  background-color: #777;
  color: white;
  text-align: center;
  margin-top: 350px;
  padding: 20px 0px;
}

/* Footer style */
footer {
  background-color: #1b1a18;
  height: 200px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: grid;
  row-gap: 10px;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu a h4:hover {
  border-bottom: #fa471c solid 3px;
  color: #fa471c;
}
.fa {
  padding: 12px;
  font-size: 60px;

  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #1b1a18;
  color: white;
}
.fa-linkedin {
  background: #1b1a18;
  color: white;
}

.fa-youtube {
  background: #1b1a18;
  color: white;
}

.fa-instagram {
  background: #1b1a18;
  color: white;
}
.extra {
  width: 30%;
  color: white;
}

/* 
Footer end */

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  header img {
    width: 64%;
    padding-left: 13px;
    padding-top: 15px;
  }
  main {
    background-size: auto;
    height: 306px;
  }
  main h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 33px;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 30px 20px 30px 20px;
    align-items: center;
    background-color: #f2f1f1;
  }
  .image-right img {
    width: 400px;
    padding-top: 10px;
  }
  nav ul li {
    display: inline;

    font-size: 16px;
    padding: 0px 5px;

    transition: 1s;
  }
  .first {
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    row-gap: 30px;
  }
  .second {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 40px 0px;
    row-gap: 30px;
  }
  .third-sec {
    flex-direction: column;
  }
  .video {
    padding: 0px;
  }
  iframe {
    width: -webkit-fill-available;
  }
  .right-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
  }
  .number {
    flex-direction: column;

    padding: 70px 70px;
    text-align: center;
    row-gap: 40px;
  }

  /* Footer */

  footer {
    background-color: #1b1a18;
    height: 600px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .extra {
    width: 100%;
  }
  /* Footer */
}
